<div class="modall-basket">
    <div class="modall-body">
        <h2>Товар добавлен в корзину</h2>
        <span class="close"></span>
        <div class="modall-content">
            <form>
                <div class="item_left">
                    <div class="item_img" style="background-image: url('../img/home/girl2.jpg');"></div>
                </div>
                <div class="item_right">
                    <div class="heading">
                        <h3>Описание</h3>
                        <h4>Название товара,
                            состоящее
                            из множества слов</h4>
                        <span class="subtitle">Артикул P-19195/00/50</span>
                    </div>
                    <div class="number">
                        <p>К-во</p>
                        <span class="minus">-</span>
                        <input type="text" class="only_number" pattern="^[ 0-9]+$" value="1" size="1" />
                        <span class="plus">+</span>
                    </div>
                    <div class="price">
                        <span>Стоимость</span>
                        <span>2 500 RUB</span>
                    </div>
                </div>
            </form>
            <form>
                <div class="item_left">
                    <div class="item_img" style="background-image: url('../img/home/girl2.jpg');"></div>
                </div>
                <div class="item_right">
                    <div class="heading">
                        <h3>Описание</h3>
                        <h4>Название товара,
                            состоящее
                            из множества слов</h4>
                        <span class="subtitle">Артикул P-19195/00/50</span>
                    </div>
                    <div class="number">
                        <p>К-во</p>
                        <span class="minus">-</span>
                        <input type="text" class="only_number" pattern="^[ 0-9]+$" value="1" size="1" />
                        <span class="plus">+</span>
                    </div>
                    <div class="price">
                        <span>Стоимость</span>
                        <span>2 500 RUB</span>
                    </div>
                </div>
            </form>
            <div class="list-action">
                <a href="javascript:void(0)" class="">Перейти в корзину</a>
                <a href="javascript:void(0)" class="">Продолжить покупки</a>
            </div>
        </div>
    </div>
</div>