<section class="comments">
  <div class="container comments__container container--big">
    <h2 class="comments__title">Коментарии (<span class="quantity">1</span>)</h2>
    <ul class="comments__list">
      <li>
        <address class="comments__info-author">
          <span class="comments__name-author">Мария</span>
          <time class="comments__data-publication" datatime=2019-02-22"">22.02.19</time>
        </address>
        <p class="comments__description">Lorem Ipsum dolor si amet totam  non proident</p>
        <a class="comments__answer" href="#">Ответить</a>
      </li>
      <li>
        <address class="comments__info-author">
          <span class="comments__name-author">Татьяна</span>
          <time class="comments__data-publication" datatime=2019-02-22"">22.02.19</time>
        </address>
        <p class="comments__description">Lorem Ipsum dolor si amet totam  non proident</p>
        <a class="comments__answer" href="#">Ответить</a>
      </li>
    </ul>
    <b class="comments__leave-comment">Оставьте комментарий</b>
    <form action="#" class="form comments__form">
      <label class="label label--column comments__label">
        <span class="comments__name label__name">Имя</span>
        <input class="comments__input input" type="text">
      </label>
      <label class="label label--column comments__label">
        <span class="comments__name label__name">Email</span>
        <input class="comments__input input" type="email">
      </label>
      <label class="label label--column comments__label">
        <span class="comments__name label__name">Комментарий</span>
        <textarea class="comments__input comments__textarea input" name="comment"></textarea>
      </label>
      <button type="button" class="button button--pink button--big comments__button">Отправить</button>
    </form>
  </div>
</section>