<div class="modall-registration">
    <div class="modall-body">
        <h2>Вход</h2>
        <span class="close"></span>
        <div class="modall-content">
            <form>
                <div class="social">
                    <h3><span>Через соцсети </span>(рекомендуем
                        для новых покупателей)</h3>
                    <div class="social-link">
                        <a href="#"><i class="icon-facebook"></i><span>Facebook</span></a>
                        <a href="#"><i class="icon-002-instagram"></i><span>Instagram</span></a>
                        <a href="#"><i class=" icon-004-vk"></i><span>ВКонтакте</span></a>
                        <a href="#"><i class="icon-odnoklassniki"></i><span>Одноклассники</span></a>
                    </div>
                </div>
                <div class="form-group">
                    <span>С помощью аккаунта City Fabrika </span>
                    <a href="#">Создать аккаунт</a>
                    <div class="form-column">
                        <input type="text" name="email" placeholder="E-mail">
                        <label class="red-border"></label>
                    </div>
                    <div class="form-column">
                        <input required type="password" name="tel" placeholder="Пароль">
                        <label class="red-border"></label>
                    </div>
                </div>
            </form>
            <div class="action">
                <a href="javascript:void(0)" class="">Войти</a>
                <a href="javascript:void(0)" class="">Забыли пароль?</a>
            </div>
        </div>
    </div>
</div>